.inline-field-key {
    --dv-key-border: hsl(157, 56%, 33%);
    /* --dv-key-background: hsl(157, 72%, 53%, 0.3); */
    --dv-key-bg-pre-mixed: #436256; /* pre-mixed with bg color at 30% alpha */

    border-top-left-radius: 250px;
    border-bottom-left-radius: 250px;
    padding-left: 5px !important;
    padding-right: 4px !important;
    background-color: var(--dv-key-bg-pre-mixed) !important;
    border: var(--dv-key-border) solid 1px !important;
    border-right: none !important;
    color: #0A0A0ABB !important;
    clip-path: polygon(0 0, 100% 0, calc(100% - 4px) 100%, 0% 100%);
    font-size: 0.75em !important;
}
.inline-field-key::after {
    content: "" !important;
}
.inline-field-value {
    --dv-val-border: hsl(157, 36%, 20%);
    --dv-val-background: hsla(157, 36%, 20%, 0.4);

    border-top-right-radius: 250px;
    border-bottom-right-radius: 250px;
    padding-right: 5px !important;
    padding-left: 5px !important;
    background-color: var(--dv-val-background) !important;
    border: var(--dv-val-border) solid 1px !important;
    border-left: none !important;
    color: #f7f7f7AA !important;
    margin-left: -4px !important;
    font-size: 0.75em !important;
}
